:root {
   --green-color: #88FF66;
   --red-color: #FF9999;
   --brown-color: #BB8844;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   word-wrap: break-word;
}

body {
   padding: 5%;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 1rem;
   background-image: url(../img/patrón-hojas.avif);
   background-size: 500px;
}

.contenidor-principal {
   border: 2px solid darkgreen;
   padding: 1rem;
   align-content: center;
   background: linear-gradient(0.25turn, white, var(--green-color), white);
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 7px;
}

.color-roig .contenidor-principal {
   background: linear-gradient(0.25turn, white, var(--red-color), white);
}

.color-marro .contenidor-principal {
   background: linear-gradient(0.25turn, white, var(--brown-color), white);
}

.contenidor-secundari {
   border: 2px solid darkgreen;
   border-radius: 10px;
   padding: 1rem;
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 7px;
}

form > .contenidor-secundari {
   flex-direction: row;
   gap: 0.25rem;
   display: inline-flex;
}

.button {
   padding: 0.5rem;
   border: 2px solid black;
   border-radius: 5px;
}

form > .contenidor-secundari > label {
   width: 50%;
   text-align: right;
}

form > .contenidor-secundari > select.campo-formulario, form > .contenidor-secundari > .campo-formulario {
   width: 30%;
   margin-right: 20%;
   height: 100%;
}

form > .contenidor-secundari > div.campo-formulario {
   width: 50%;
   height: 100%;
   flex-direction: row;
   gap: 1rem;
   display: inline-flex;
   flex-wrap: wrap;
   justify-content: left;
   margin: 0;
}

input:required, textarea:required {
   border: 2px solid red;
}

input:required:valid, textarea:required:valid{
   border: 2px solid green;
}

.valor-campo-puntuacion {
   border: 2px solid red;
   display: block;
   text-align: center;
}

.color-roig .valor-campo-puntuacion {
   background-color: var(--red-color);
}

.color-marro .valor-campo-puntuacion {
   background-color: var(--brown-color);
}

form > .contenidor-secundari > textarea.campo-formulario {
   height: 5.2rem;
   padding: 0.1rem;
}


input, select {
   padding: 0.1rem;
}

.contenidor-secundari > img {
   width: 50%;
}

.contenidor-roig {
   border: 2px solid red;
   border-radius: 10px;
   padding: 1rem;
   text-align: center;
   background-color: white;
   width: 60%;
}

.contenidor-roig > * {
   color: red;
}

#menu {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 15px;
   flex-direction: row;
   flex-wrap: wrap;
}

#menu > a {
   flex-grow: 1;
   border: 2px solid red;
   border-radius: 30px;
   padding: 0.5rem 0rem;
   background-color: white;
   text-decoration: none;
   font-weight: bold;
   text-align: center;
   color: blue;
}

#menu > a:hover {
   background-color: #88FF66;
   text-decoration: underline;
   color: red;
}

.text-copyright {
   color: green;
   font-style: italic;
}

.contenidor-titol {
   text-align: center;
   border-radius: 10px;
   border: 3px solid white;
   background-color: var(--green-color);
   width: 40%;
   color: red;
}

.color-roig .contenidor-titol {
   background-color: var(--red-color);
}

.color-marro .contenidor-titol {
   background-color: var(--brown-color);
}

.contenidor-parraf {
   border-radius: 10px;
   border: 1px solid black;
   background-color: white;
   width: 80%;
   padding: 0.5rem;
}

.contenidor-parraf > p {
   text-indent: 2rem;
}

.contenidor-imatges {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10%;
   flex-wrap: wrap;
   background-image: radial-gradient(red, white, red);
   padding: 2% 5%;
   border: 2px solid black;
   border-radius: 10px;
   width: 90%;
}

.contenidor-imatges > img {
   display: block;
   width: 40%;
}

.contenidor-error {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 55%;
   border: 2px solid white;
   background-image: url(../img/rayas-amarillas-y-negras.jpg);
   background-size: 100%;
   background-position: center;
   border-radius: 10px;
   padding: 0.25rem;
   text-align: center;
}

.contenidor-error > * {
   border: 1px solid red;
   border-radius: 10px;
   background-color: white;
   padding: 0.25rem;
   width: 50%;
}

form {
   display: contents;
}

.button:hover {
   background-color: lightgray;
}

.contenidor-processa {
   border: 2px solid darkgreen;
   background: linear-gradient(0.25turn, white, var(--red-color), white);
   border-radius: 10px;
   padding: 1rem;
   width: 80%;
}

.color-roig .contenidor-processa {
   background: linear-gradient(0.25turn, white, var(--red-color), white);
}

.color-marro .contenidor-processa {
   background: linear-gradient(0.25turn, white, var(--brown-color), white);
}

.contenidor-processa, .contenidor-processa > p {
   width: 100%;
   display: inline-flex;
   justify-content: center;
   align-items: center;
}

.contenidor-processa .nombre-campo {
   color: red;
   font-weight: bold;
   width: 50%;
   display: inline-block;
   text-align: right;
   margin: 0;
   padding-right: 0.2rem;
}

.contenidor-processa .valor-campo {
   width: 50%;
   display: inline-block;
   text-align: left;
}

.processa-vertical .contenidor-processa .valor-campo {
   max-width: 100%;
   width: fit-content;
}

.vacio {
   color: dimgrey;
   text-decoration: underline;
   font-weight: bold;
}

.paraula-missatge {
   padding: 0.1rem;
   color: orange;
   border: 1px solid orange;
   background-color: blanchedalmond;
   font-weight: bold;
   display: inline-block;
   margin-right: 0.25rem;
}

.paraula-missatge-especial {
   color: yellow;
   background-color: green;
   border: none;
   font-weight: bolder;
}

.paraula-missatge-llarga {
   color: white;
   background-color: black;
   border: none;
   font-weight: bolder;
}

.contenidor-blau {
   border: 3px solid blue;
   background-color: cornflowerblue;
   color: white;
   padding: 0.5rem;
   border-radius: 10px;
}

.processa-vertical .contenidor-processa {
   flex-direction: column;
}

.processa-vertical .nombre-campo {
   width: 100%;
   text-align: center;
   padding-bottom: 1rem;
}

.contenidor-processa-imatges {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.processa-vertical {
   display: contents;
}

.processa-missatge-table-data {
   border: 1px solid black;
   text-align: center;
   padding: 0.25rem;
   padding-left: 0.47rem;
   background-color: aliceblue;
   height: 2.1rem;
}

.processa-missatge-table {
   border: 1px solid black;
   background-image:  radial-gradient(red, white, red);
   overflow-x: auto;
}

.background-color-1 {
   background-color: palevioletred;
}

.background-color-2 {
   background-color: orange;
}

.background-color-3 {
   background-color: gainsboro;
}

.background-color-4 {
   background-color: lawngreen;
}

.background-color-5 {
   background-color: blue;
}

.taula-dades {
   background-color: white;
   border: 1px solid black;
   margin: 0 auto;
}

.encapçalament-taula-dades {
   color: blue;
   font-weight: 900;
   text-align: center;
}

.index-taula-dades {
   border: 1px solid black;
   color: red;
   font-weight: 700;
   background-color: #FFCCCC;
   padding: 0.3rem;
   text-align: center;
}

.valor-taula-dades {
   background-color: #CCCCFF;
   border: 1px solid black;
   padding: 0.3rem;
   text-align: left;
}

img {
   max-height: 800px;
   max-width: 800px;
}